{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row">
	<div class="col-sm-6">
		 <form action="{% url 'user_form' %}" method="post" class="form" role="form">
                {% csrf_token %}
                    <h2>Sign Up</h2>
                    <hr>
                    
                    <div class="row">
                    {{ registerform.non_field_errors }}
                        <div class="col-xs-6 col-md-6">
                        {{ registerform.first_name.errors }}
                           {{ registerform.first_name }}
                           </div>
                        <div class="col-xs-6 col-md-6">
                        {{ registerform.last_name.errors }}
                           {{ registerform.last_name }}
                          </div>
                    </div>
                    {{ registerform.username.errors }}
                    {{ registerform.username }}

                    {{ registerform.email.errors }}
                    {{ registerform.email }}

                    <button class="btn btn-lg btn-success signup-btn" type="submit">
                        Create account</button>
                </form>

	</div>
</div>
               
{% endblock content %}
